.gallery-grid {
  display: flex;
  flex-flow: row wrap;

  .gallery-grid-item {
    display: flex;
    flex-basis: calc(100% / 3);
    padding-bottom: calc(100% / 3);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    cursor: pointer;
  }
}

.gallery-grid-container {
  padding: 0;
}
